---
layout: neotree
file_name: about.md
---

<h1># About Me</h1>

<img src="{{ '/about.jpg' | relative_url }}" alt="Mykyta Chursin" class="profile-pic">

<p>Hi, I'm <span class="fg-blue">{{ site.data.about.headline }}</span> 👋</p>
<p>A <span class="fg-orange">{{ site.data.about.subheadline }}</span>.</p>

<br>
<h2>## Bio</h2>
{% for p in site.data.about.bio %}
<p>{{ p }}</p>
{% endfor %}

<br>
<h2>## Skills & Tools</h2>
<ul>
    {% for skill in site.data.about.skills %}
    <li>{{ skill }}</li>
    {% endfor %}
</ul>

<br>
<h2>## Contact Me</h2>
<p>
  <a href="mailto:{{ site.data.about.contact.email }}" class="fg-blue">[Email: {{ site.data.about.contact.email }}]</a><br>
  <a href="{{ site.data.about.contact.github }}" target="_blank" class="fg-green">[GitHub]</a><br>
  <a href="{{ site.data.about.contact.linkedin }}" target="_blank" class="fg-yellow">[LinkedIn]</a>
</p>
